.background-image {
    background-image: url(../images/pokeball.png);
    background-size: 50px 50px;
    background-color: rgba(238, 238, 238, 0.81) !important;
    background-blend-mode: color;
}

.navbar-brand {
    float: left;
    height: 50px;
    padding: 0px;
    font-size: 18px;
    line-height: 20px;
}

.main-header {
    text-align: center;
}

.info-icons {
    float: right;
}



.fas {
    margin-right: 5px;
    margin-top: 5px;
    font-size: 4rem;
    cursor: pointer;
    -webkit-transition: .5s;
    transition: .5s;
}

.content-style {
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.footer {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
    position: relative;
    min-height: 50px;
    border: 1px solid transparent;
}

.footer-content {
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #ffdb58;
    opacity: 0.9;
    margin: 12.5px;
    text-align: center;
}

.button-wrapper {
    text-align: center;
}

.reset-button {
    width: 150px;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: #ffdb58;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.3);
}

.reset-button a {
    text-decoration: none;
}

.dc-chart g.row text {
    fill: black;
}

.dc-chart text.pie-slice {
    fill: black;
}



@media (min-width:600px) {
    .navbar-header {
        width: 300px;
        float: none;
    }
}

