/* ------- background ---------*/

.background {
    background-image: url(../images/background.png);
    background-position: center center;
}

/* ------- Nav/Header ---------*/

.navbar-default {
    background-color: #c2b280;
    border-color: #8b4513;
}

.info-icons {
    float: right;
}

.info-icons li {
    display: inline-block;
    font-size: 35px;
    color: white;
    padding-top: 10px;
    padding-right: 10px;
}

.info-icons li a {
    color: #8b4513;
}


h4 {
    display: inline;
    padding-left: 10px;
    color: #8b4513;
}





.column-allignment {
    display: flex;
    flex-wrap: wrap;
}

.content {
    width: 100%;
    padding: 15px 10px;
    border-radius: 10px;
    background-color: white;
    opacity: 0.9;
    margin: 12.5px 0;
    text-align: center;
}

.country-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#country-selector{
    max-width: 100%;
}
